<html>
    <head>
        <title>Lista de itens {{ titulo }}</title>
    </head>
    <body>
		<style>
		.rTable {
		    	display: table;
		    	width: 100%;
		}
		.rTableRow {
		    	display: table-row;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		}
		.rTableCell, .rTableHead {
		    	display: table-cell;
		    	padding: 3px 10px;
		    	border: 1px solid #999999;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		    	font-weight: bold;
		}
		.rTableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.rTableBody {
		    	display: table-row-group;
		}		
		</style>
		<div class="rTable">
			<div class="rTableRow">
				<div class="rTableHead"><strong>Descrição</strong></div>
				<div class="rTableHead"><span style="font-weight: bold;">Preço</span></div>
			</div>
        {% for item in itens %}
			<div class="rTableRow">
				<div class="rTableCell"> <a href="{{ item.URL }}">{{ item.Descricao }} </a></div>
				<div class="rTableCell"> {{ item.Preco }}</div>
			</div>
        {% endfor %}
			<div class="rTableRow">
				<div class="rTableCell">  </a></div>
				<div class="rTableCell"> {{ total }}</div>
			</div>
    </body>
</html>